nav.catalog-nav(role="navigation")
  ul
    li.has-folder
      a(href="#!") УЛЬТРАЗВУКОВОЙ SMAS - ЛИФТИНГ
      i.icon-arrow-down
      +ulFolder
    li.has-folder
      a(href="#!") ТАТУАЖ, МИКРОБЛЕЙДИНГ
      i.icon-arrow-down
      +ulFolder
    li.has-folder
      a(href="#!") ЛАЗЕРНАЯ КОСМЕТОЛОГИЯ
      i.icon-arrow-down
      +ulFolder
    li.has-folder
      a(href="#!") ВРАЧЕБНАЯ КОСМЕТОЛОГИЯ
      i.icon-arrow-down
      +ulFolder
    li.has-folder
      a(href="#!") АППАРАТНАЯ КОСМЕТОЛОГИЯ
      i.icon-arrow-down
      +ulFolder
    li.has-folder
      a(href="#!") ЭСТЕТИЧЕСКАЯ КОСМЕТОЛОГИЯ
      i.icon-arrow-down
      +ulFolder
    li.has-folder
      a(href="#!") КОРРЕКЦИЯ ФИГУРЫ
      i.icon-arrow-down
      +ulFolder
    li.has-folder
      a(href="#!") ПАРИКМАХЕРСКИЕ УСЛУГИ
      i.icon-arrow-down
      +ulFolder
    li.has-folder
      a(href="#!") МАКИЯЖ
      i.icon-arrow-down
      +ulFolder
    li.has-folder
      a(href="#!") МАНИКЮР
      i.icon-arrow-down
      +ulFolder
    li.has-folder
      a(href="#!") ПЕДИКЮР
      i.icon-arrow-down
      +ulFolder
    li.has-folder
      a(href="#!") РЕСНИЦЫ, БРОВИ
      i.icon-arrow-down
      +ulFolder