// Footer
footer.footer
  .container
    
    .footer__wrapper
      .footer__logo
        img(src="./images/footer-logo.png", alt="").img-fluid
      .footer__navigation
        div
          ul
            li: a(href="#!") О нас
            li: a(href="#!") Наш салон
            li: a(href="#!") Все услуги
            li: a(href="#!") Наша команда
        div
          ul
            li: a(href="#!") Новости
            li: a(href="#!") Статьи
            li: a(href="#!") Задать вопрос
            li: a(href="#!") Вакансии
      .footer__center
        .footer__social
          a(href="#!")
            i.icon-viber
          a(href="#!")
            i.icon-vkontakte
          a(href="#!")
            i.icon-instagram
          a(href="#!")
            i.icon-telegram
        .footer__phones
          a(href="tel:") 8 (499) 189-81-28
          a(href="tel:") 8 (499) 189-73-88


  
