// Header
header.header
  .container

    .header__wrapper
      .header__social
        a(href="#!")
          img(src="./images/icon-social-1.svg", alt="")
        a(href="#!")
          img(src="./images/icon-social-2.svg", alt="")
        a(href="#!")
          img(src="./images/icon-social-3.svg", alt="")
        a(href="#!")
          img(src="./images/icon-social-4.svg", alt="")
      .header__center
        .header__logo
          a(href="#!")
            img(src="./images/logo.png", alt="")
        .header__address 
          p Москва, СВАО, м. Свиблово, Бабушкинская, ул. Кольская, 2/5
      .header__bottom
        .header__phones
          div
            a(href="tel:") +7 499 189-73-88
          div
            a(href="tel:") +7 499 189-81-22
        a(href="#modal").btn.header__btn.open-popup-link заказать звонок
        button(type="button").btn-mobile.j-btn-mobile
    
  .navigation
    button(type="button").navigation__close.j-btn-mobile
    .navigation__wrapper
      .container
        nav(role="navigation")
          ul
            li.has-folder
              a(href="#!") 
                span О нас
                i.icon-arrow-down
              ul.ul-folder
                li: a(href="#!") О нас 
                li.active: a(href="#!") Наша команда
                li: a(href="#!") Фотогалерея
            li: a(href="#!") Новости и акции
            li.has-folder
              a(href="#!") 
                span Все процедуры
                i.icon-arrow-down
              ul.ul-folder
                li: a(href="#!") О нас 
                li: a(href="#!") Наша команда
                li: a(href="#!") Фотогалерея
            li.has-folder
              a(href="#!") 
                span Рекомендации
                i.icon-arrow-down
              ul.ul-folder
                li: a(href="#!") О нас 
                li: a(href="#!") Наша команда
                li: a(href="#!") Фотогалерея
            li.has-folder
              a(href="#!") 
                span Цены
                i.icon-arrow-down
              ul.ul-folder
                li: a(href="#!") О нас 
                li: a(href="#!") Наша команда
                li: a(href="#!") Фотогалерея
            li: a(href="#!")
              span Отзывы
            li: a(href="#!")
              span Контакты
        .navigation__contacts
          .navigation__social
            a(href="#!")
              img(src="./images/icon-social-1.svg", alt="")
            a(href="#!")
              img(src="./images/icon-social-2.svg", alt="")
            a(href="#!")
              img(src="./images/icon-social-3.svg", alt="")
            a(href="#!")
              img(src="./images/icon-social-4.svg", alt="")
          .navigation__phones
            div
              a(href="tel:") +7 499 189-73-88
            div
              a(href="tel:") +7 499 189-81-22
          a(href="#modal").btn.navigation__btn.open-popup-link заказать звонок

.header-holder