doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Визави. Центр эстетики и красоты' //title страницы для генерации верстки

  include ./_include/_head

  body.no-bg

    // Preloader
    include ./_include/_preloader

    include ./_include/_header

    // Content
    .content.no--p-top

      // Main slider
      .main-slider
        .main-slider__bg.--bg1
        .main-slider__bg.--bg2
        .main-slider__bg.--bg3
        .container.main-slider__container
          .main-slider__carousel
            div
              .main-slider__block
                .main-slider__block-img
                  img(src="./tmp/main-slider-img-1.png", alt="")
                .main-slider__block-content
                  .h1 Получи СКИДКУ на BEAUTY DAY с подругой в нашем салоне
                  a(href="#!").btn.main-slider__btn Получить
            div
              .main-slider__block
                .main-slider__block-img
                  img(src="./tmp/main-slider-img-1.png", alt="")
                .main-slider__block-content
                  .h1 Получи СКИДКУ на BEAUTY DAY с подругой в нашем салоне
                  a(href="#!").btn.main-slider__btn Получить
            div
              .main-slider__block
                .main-slider__block-img
                  img(src="./tmp/main-slider-img-1.png", alt="")
                .main-slider__block-content
                  .h1 Получи СКИДКУ на BEAUTY DAY с подругой в нашем салоне
                  a(href="#!").btn.main-slider__btn Получить
      
      // Advantages
      .advantages
        .container.advantages__container
          h2 Наши преимущества
          .advantages__row
            .advantages__block(data-text="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.")
              img(src="./tmp/advantages-img-1.svg", alt="")
              p Более 10 лет опыта в мире стиля и красоты
            .advantages__block(data-text="text 2")
              img(src="./tmp/advantages-img-2.svg", alt="")
              p Мастера, которые влюблены в свое дело
            .advantages__block(data-text="text 3")
              img(src="./tmp/advantages-img-3.svg", alt="")
              p Высокая квалификация врачей и специалистов
            .advantages__block(data-text="text 4")
              img(src="./tmp/advantages-img-4.svg", alt="")
              p Мы работаем с ведущими косметическими брендами
            .advantages__block(data-text="text 5")
              img(src="./tmp/advantages-img-5.svg", alt="")
              p Сертифицированное оборудование последнего поколения
            .advantages__block(data-text="text 6")
              img(src="./tmp/advantages-img-6.svg", alt="")
              p Для нашего гостя мы делаем все, чтобы он чувствовал себя окруженным заботой
            .advantages__block(data-text="text 7")
              img(src="./tmp/advantages-img-7.svg", alt="")
              p Удобное расположение: 5 мин пешком от метро
            .advantages__block(data-text="text 8")
              img(src="./tmp/advantages-img-8.svg", alt="")
              p Бесплатная парковка
            .advantages__images
              //- img(src="./images/advantages-mask.png", alt="").advantages__images-mask
              .advantages__images-mask
              .advantages__images-img(style="background-image: url('./tmp/advantages-images.jpg')")
              .advantages__images-content
                div

      // Services
      .services
        .container
          h2 Наши услуги

        .services__bottom
          .container-fluid

            .services__carousel
              div
                .services__block
                  a(href="#!")
                    img(src="./tmp/services-list-img-1.png", alt="")
                    span.services__block-title Дерматолог
              div
                .services__block
                  a(href="#!")
                    img(src="./tmp/services-list-img-2.png", alt="")
                    span.services__block-title Косметолог
              div
                .services__block
                  a(href="#!")
                    img(src="./tmp/services-list-img-3.png", alt="")
                    span.services__block-title Мужчинам
              div
                .services__block
                  a(href="#!")
                    img(src="./tmp/services-list-img-4.png", alt="")
                    span.services__block-title Флеболог
              div
                .services__block
                  a(href="#!")
                    img(src="./tmp/services-list-img-1.png", alt="")
                    span.services__block-title Дерматолог
              div
                .services__block
                  a(href="#!")
                    img(src="./tmp/services-list-img-2.png", alt="")
                    span.services__block-title Косметолог
              div
                .services__block
                  a(href="#!")
                    img(src="./tmp/services-list-img-3.png", alt="")
                    span.services__block-title Мужчинам
              div
                .services__block
                  a(href="#!")
                    img(src="./tmp/services-list-img-4.png", alt="")
                    span.services__block-title Флеболог

      // About
      .about
        .container.about__container
          .d-xl-none
            h2 О нас

          .about__wrapper
            .about__carousel
              div
                .about__block
                  a(href="#!")
                    img(src="./tmp/about-index-img-1.png", alt="")
              div
                .about__block
                  a(href="#!")
                    img(src="./tmp/about-index-img-1.png", alt="")
              div
                .about__block
                  a(href="#!")
                    img(src="./tmp/about-index-img-1.png", alt="")
            .about__btn
              button(type="button").about__btn-prev
              button(type="button").about__btn-next
            .about__content
              .d-none.d-xl-block
                .h2 О нас
              p В нашей студии всегда весна и хорошее настроение. Мы любим свою работу и максимально качественно оказываем услуги. Готовы эксперементировать вместе с вами и создавать сногшибательные бразы!
              p Приходите сами, приводите друзей и родных, заказывайте подарочные сертификаты своим близким и любимым.
              p Мы позаботимся о вашей красоте!!!

      // View
      .view
        .view__top
          .container
            h2
              small Не верите словам, 
              | Загляните в наши соцсети
            .view__social
              a(href="#!")
                i.icon-viber
              a(href="#!")
                i.icon-vkontakte
              a(href="#!")
                i.icon-instagram
              a(href="#!")
                i.icon-telegram
        .view__bottom
          .container-fluid
            .view__carousel
              div
                .view__block
                  a(href="./tmp/view-img-1.png" data-fancybox="gallery")
                    img(src="./tmp/view-img-1.png", alt="")
              div
                .view__block
                  a(href="./tmp/view-img-2.png" data-fancybox="gallery")
                    img(src="./tmp/view-img-2.png", alt="")
              div
                .view__block
                  a(href="./tmp/view-img-3.png" data-fancybox="gallery")
                    img(src="./tmp/view-img-3.png", alt="")
              div
                .view__block
                  a(href="./tmp/view-img-4.png" data-fancybox="gallery")
                    img(src="./tmp/view-img-4.png", alt="")
              div
                .view__block
                  a(href="./tmp/view-img-1.png" data-fancybox="gallery")
                    img(src="./tmp/view-img-1.png", alt="")
              div
                .view__block
                  a(href="./tmp/view-img-2.png" data-fancybox="gallery")
                    img(src="./tmp/view-img-2.png", alt="")
              div
                .view__block
                  a(href="./tmp/view-img-1.png" data-fancybox="gallery")
                    img(src="./tmp/view-img-1.png", alt="")
              div
                .view__block
                  a(href="./tmp/view-img-2.png" data-fancybox="gallery")
                    img(src="./tmp/view-img-2.png", alt="")
              div
                .view__block
                  a(href="./tmp/view-img-3.png" data-fancybox="gallery")
                    img(src="./tmp/view-img-3.png", alt="")
              div
                .view__block
                  a(href="./tmp/view-img-4.png" data-fancybox="gallery")
                    img(src="./tmp/view-img-4.png", alt="")
              div
                .view__block
                  a(href="./tmp/view-img-1.png" data-fancybox="gallery")
                    img(src="./tmp/view-img-1.png", alt="")
              div
                .view__block
                  a(href="./tmp/view-img-2.png" data-fancybox="gallery")
                    img(src="./tmp/view-img-2.png", alt="")

      // Popular
      .popular
        .container
          h2 Популярные процедуры

        .container-fluid
          .popular__carousel
            div
              .popular__block
                .popular__block-thumb
                  a(href="#!")
                    img(src="./tmp/popular-img-1.png", alt="")
                .popular__block-content
                  h3 Маникюр
                  p Правильный выбор масла по проблеме. Различные масла имеют разный состав и применяются для ...
                  a(href="#!").popular__block-more подробнее
            div
              .popular__block.--second
                .popular__block-thumb
                  a(href="#!")
                    img(src="./tmp/popular-img-2.png", alt="")
                .popular__block-content
                  h3 Маникюр
                  p Правильный выбор масла по проблеме. Различные масла имеют разный состав и применяются для ...
                  a(href="#!").popular__block-more подробнее
            div
              .popular__block.--third
                .popular__block-thumb
                  a(href="#!")
                    img(src="./tmp/popular-img-3.png", alt="")
                .popular__block-content
                  h3 Маникюр
                  p Правильный выбор масла по проблеме. Различные масла имеют разный состав и применяются для ...
                  a(href="#!").popular__block-more подробнее
            div
              .popular__block
                .popular__block-thumb
                  a(href="#!")
                    img(src="./tmp/popular-img-1.png", alt="")
                .popular__block-content
                  h3 Маникюр
                  p Правильный выбор масла по проблеме. Различные масла имеют разный состав и применяются для ...
                  a(href="#!").popular__block-more подробнее


          a(href="#!").btn.popular__btn Все процедуры

    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

