doctype

html(lang="ru")

  -var active = 'Рекомендации' //активный пункт меню, список в header.jade
  -var pageTitle = 'Рекомендации' + ' - Визави. Центр эстетики и красоты' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    include ./_include/_header

    // Banner row
    .banner-row
      .container
        .banner-row__block
          img(src="./tmp/banner-top-7.png", alt="").img-fluid
          h1 Рекомендации

    // Content
    .content
      .container

        .row
          .d-none.d-xl-block.col-xl-3
            include ./_include/_catalog-nav

          .col-12.col-xl-9
            nav(aria-label='breadcrumb')
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='#!') Главная
                li.breadcrumb-item.active(aria-current='page')
                  span Рекомендации

            nav.subcategories-nav
              ul
                li.active: a(href="#!") после 20 лет
                li: a(href="#!") после 30 лет
                li: a(href="#!") после 40 лет

            .news
              .news__row
                .news__block.--first
                  .news__block-thumb
                    a(href="#!")
                      img(src="./tmp/content-thumb-img-2.png", alt="").img-fluid
                  .news__block-content
                    h2
                      a(href="#!") Преимущества и особенности лазерной эпиляции в салоне Визави
                    p Гладкая, нежная кожа – мечта многих. Чтобы убрать лишние волосы, используют бритвенные станки, эпиляторы, воск, сахарную пасту. К сожалению, у каждого из перечисленных вариантов есть ряд побочных эффектов: болезненные ощущения, врастающие волоски, раздражение... 
                    a(href="#!").news__block-more
                      i.icon-arrow-right
                .news__block.--left
                  .news__block-thumb
                    a(href="#!")
                      img(src="./tmp/content-thumb-img-2.png", alt="").img-fluid
                  .news__block-content
                    h2
                      a(href="#!") Бандажное обертывание T-Shock – самый желанный фиторитуал для стройного тела
                    p Жаркое время года требует объемного внимания к коже и волосам.
                    a(href="#!").news__block-more
                      i.icon-arrow-right
                .news__block.--center
                  .news__block-thumb
                    a(href="#!")
                      img(src="./tmp/content-thumb-img-2.png", alt="").img-fluid
                  .news__block-content
                    h2
                      a(href="#!") Незабываемый выпускной с Визави:
                    p Жаркое время года требует объемного внимания к коже и волосам. Именно потому, в салонах Визави появилась новая идеальная процедура для волос от легендарного итальянского бренда NASHI ARGAN.
                    a(href="#!").news__block-more
                      i.icon-arrow-right
                .news__block.--right
                  .news__block-thumb
                    a(href="#!")
                      img(src="./tmp/content-thumb-img-2.png", alt="").img-fluid
                  .news__block-content
                    h2
                      a(href="#!") Бандажное обертывание T-Shock – самый желанный фиторитуал для стройного тела
                    p Жаркое время года требует объемного внимания к коже и волосам. Именно потому, в салонах Визави появилась новая идеальная процедура для волос от легендарного итальянского бренда NASHI ARGAN.
                    p Если вы еще не знакомы с NASHI – это особенный момент. Время знакомиться.
                    a(href="#!").news__block-more
                      i.icon-arrow-right

            a(href="#!").btn.content__btn загрузить еще

    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

