/* buttons */

button {
  @include button-reset;
  &:focus {
    outline: none;
  }
}

.btn {
  height: 60px;
  line-height: 60px;
  display: inline-block;
  white-space: nowrap;
  font-size: rem(18px);
  background-color: $add-color;
  text-align: center;
  padding: 0 15px;
  text-decoration: none;
  box-shadow: 1px 4px 5px rgba($color-black,.1);
  transition: all 0.35s;
  &:hover {
    background: #ECCFB9;
    box-shadow: inset 0px 7px 6px rgba($color-black,.1);
  }
  &--block {
    display: block;
    width: 100%;
  }
}

.btn-mobile {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background: $add-color;
  padding: 0;
  border: 0;
  flex-shrink: 0;
  box-shadow: 2px 4px 4px rgba($color-black,.1);
  margin-left: 25px;
  position: relative;
  transition: all 0.35s;
  &::before {
    font-size: rem(30px);
    font-family: $font-icomoon;
    color: $color-white;
    content: '\e902';
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
  @include media-breakpoint-up(md) {
    margin-left: 58px;
  }
  @include media-breakpoint-up(xl) {
    margin: 0;
    display: none;
  }
}