/* menu */
[role="navigation"] {
  ul {
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;
        margin: 0;
    }
  }
}
  
.navigation {
  height: 73px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-white;
  height: 100%;
  width: 100%;
  &__wrapper {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    &>.container {
      max-width: none;
      padding: 0;
    }
    nav {
      text-align: center;
      margin-bottom: 80px;
      font-weight: 500;
      font-size: rem(24px);
      ul {
        li {
          &>a, &>span {
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            white-space: nowrap;
            height: 50px;
            line-height: 50px;
            .icon-arrow-down {
              font-size: rem(20px);
              margin-left: 5px;
              vertical-align: -7px;
              display: inline-block;
              width: 40px;
              height: 40px;
              line-height: 40px;
              &::before {
                vertical-align: 8px;
              }
            }
            &.active {
              background: #F9F2ED;
              &+.ul-folder {
                display: block;
              }
            }
          }
          &.active {
            &>a, &>span {
              background: #F9F2ED;
            }
          }
        }
        ul {
          display: none;
          li {
            &>a, &>span {
              text-transform: none;
            }
            &.active {
              &>a, &>span {
                background: $add-color;
              }
            }
          }
        }
      }
    }
  }
  &__close {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;
    width: 80px;
    height: 80px;
    background: transparent;
    &::before {
      font-size: rem(28px);
      font-family: $font-icomoon;
      color: #373737;
      content: '\e901';
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }
  }
  &__contacts {
    text-align: center;
  }
  &__social {
    text-align: center;
    margin-bottom: 11px;
    font-size: 0;
    img {
      width: 44px;
      height: 44px;
      display: block;
    }
    a {
      display: inline-block;
      margin: 0 6px;
    }
  }
  &__phones {
    margin-bottom: 15px;
    a {
      text-decoration: none;
    }
  }
  &__btn {
    height: 40px;
    line-height: 40px;
  }
  &.is-active {
    z-index: 250;
    display: block;
  }
  @include media-breakpoint-up(sm) {
    &__phones {
      display: flex;
      justify-content: center;
      &>div {
        &+div {
          margin-left: 20px;
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    display: block;
    background: rgba(241, 225, 213, 0.42);
    position: relative;
    &__contacts, &__close {
      display: none;
    }
    &__wrapper {
      padding: 0;
      height: 53px;
      overflow: visible;
      &>.container {
        max-width: 1298px;
      }
      nav {
        font-size: rem(0px);
        ul {
          display: flex;
          justify-content: space-between;
          li {
            display: inline-block;
            position: relative;
            &>a, &>span {
              font-size: rem(16px);
              height: 53px;
              line-height: 53px;
              .icon-arrow-down {
                display: none;
              }
            }
            &>a {
              &:hover {
                background: $add-color;
              }
            }
            &.active {
              &>a,&>span {
                background: $add-color;
              }
            }
            &.has-folder {
              .ul-folder {
                position: absolute;
                display: none !important;
                min-width: 334px;
                top: 100%;
                left: 0;
                background: $color-white;
                box-shadow: 0px 6px 10px rgba($color-black,.1);
                display: block;
                text-align: left;
                li {
                  display: block;
                  &>a, &>span {
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 25px;
                    background: none;
                  }
                  &>a {
                    &:hover {
                      background: #F9F2ED;
                    }
                  }
                  &.active {
                    &>a, &>span {
                      background: #F9F2ED;
                    }
                  }
                }
              }
              &:hover {
                &>a,&>span {
                  background: $add-color;
                }
                .ul-folder {
                  display: block !important;
                }
              }
            }
          }
          &>li {
            flex-grow: 1;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(xxl) {
    &__wrapper {
      height: 73px;
      nav {
        ul {
          li {
            &>a, &>span {
              font-size: rem(18px);
              height: 73px;
              line-height: 73px;
            }
          }
        }
      }
    }
  }
}