// :root {
//   @include defineColorHSL(--color-primary, 0, 89%, 56%);
// }
// [data-theme="dark"] {
//   @include defineColorHSL(--color-primary, 0, 100%, 56%);
// }

$primary-color: black;
$add-color: #F1E1D5;

$link-color: black;

$color-white: #ffffff;
$color-gray: #cccccc;
$color-black: #000000;
$color-red: red;
$color-pink: pink;

$color-s-1: #fe4261;
$color-s-2: #9b51e0;
$color-s-3: #2a6ca6;

$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;

$font-montserrat: 'Montserrat', $primary-font;
$font-cormorant: 'Cormorant Unicase', $primary-font;
$font-icomoon: 'icomoon';